<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adventurer.manager.core.mapper.RoleMapper">
    <resultMap id="BaseColumnMap" type="com.adventurer.manager.core.model.Role">
        <result column="name" property="name"/>
        <result column="id" property="id"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="selectRolesByUsername" resultMap="BaseColumnMap" parameterType="java.util.Map">
      select t_manager_role.* from t_manager_role role where t_manager_role.id in
      (select roleid from t_manager_user_role where userid=#{userId})
    </select>
</mapper>

